body {
    overflow: hidden;
    margin: 0px;
}

circle {
    fill: rgba(180, 74, 70, 0.65);
}

text {
    font-size: 1.3em;
    font-family: sans-serif;
}

.tick text{
    fill: #635F5D;
    font-size: 1.3em;
}

.tick line{
    stroke: #c7c7c1;
}

.axis-label {
    fill: #8E8883;
    font-size: 1.9em;
}

.bar-title {
    fill: #504d4c;
    font-size: 2.3em;
}

.link{
    margin-right: 300px;
}